<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        AKUNTABEL
    </title>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>

        #logo{
		}

		body{
			background-color: #ebeff5;
		}


		#total-orders{
			background-color: #4cb4c7;
		}


		#orders-delivered{
			background-color: #7abecc;
		}

		#orders-pending{
			background-color: #7CD1C0;
		}

    </style>

</head>

<body>
{% include 'akuntabelapp/navbar.html' %}

 {%block content%}

 {%endblock%}


 <hr>
<h5>Our footer</h5>

</body>

<script type="text/javascript">
    $(document).on('submit','#nakunid',function(e){
        e.preventDefault();

        $.ajax({
            type:'POST',
            url:'',
            data:{
                nakun:$('#nakun').val(),
                csrfmiddlewaretoken:$('input[nakun=csrfmiddlewaretoken]').val(),
            },
            success: function(data){
                alert(data);
            }
        });
    });


</script>

</html>